@use './../../utilities/variables' as *;

@mixin link-arrow() {
	content: '';
	width: 1.5em;
	height: 1.5em;
	flex-shrink: 0;
	background-color: $color-primary;
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	transition: $transition;
}

// Content navigation styles (comments, posts, pagination)
.comment-navigation,
.post-navigation,
.posts-navigation {
    
	.nav-links {
		display: flex;
		justify-content: space-between;
		padding: 40px 0;
	}

	a {
		@include underline-effect(2px);
		font-weight: 700;
	}

	.nav-previous {
		display: flex;
		align-items: center;
		gap: 10px;

		a {
			background-position: bottom right;
		}

		&::before {
			@include link-arrow();
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z'/%3E%3C/svg%3E");
		}

		&:hover::before {
			background-color: $color-secondary;
			transform: translateX(-5px);
		}

		&:hover a {
			color: $color-secondary;
			background-size: 100% 2px;
		}
	}

	.nav-next {
		display: flex;
		align-items: center;
		gap: 10px;

		&::after {
			@include link-arrow();
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z'/%3E%3C/svg%3E");
		}

		&:hover::after {
			background-color: $color-secondary;
			transform: translateX(5px);
		}

		&:hover a {
			color: $color-secondary;
			background-size: 100% 2px;
		}

		&:only-child {
			margin-left: auto;
		}
	}
}
